* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid #000; */
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  background-color: #E7E9EB;
}

body {
  height: 100vh;
}

button,
input[type='button'] {
  border: none;
  color: #FFF;
  padding: 6px 25px;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: crimson;
}